/* https://github.com/underground0930/chrome_show_google_query_words_metaCheckMan */
#show_google_query_words_meta{
  z-index:99999;
  padding: 5px 20px 5px;
  background-color:rgba(0,0,0,0.70);
  position:fixed;
  color:#fff;
  right:0;
  top:0;
  font-size:16px;
  width: 200px;
}

#hide{
  z-index:-1
}


.meta_parent li{
  padding-bottom: 3px;
  list-style-type: none;
  text-align: left !important;
  color: #ff7e07;
  -webkit-text-shadow: 0 0 7px #000, 0 0 7px #000;
  text-shadow: 0 0 7px #000, 0 0 7px #000;
}

.meta_parent li span{
  font-weight: bold;
  color: #fff;
  display: inline-block;
}

#show_google_query_words_title{
  font-size:14px;
}
